{% extends "base.email.html" %}
{% block content %}
<p>A password reset was initated for your account (<a href="https://questy.writingquests.org/profile/{{ username }}" title="Questy: link to user profile for {{ username }}">{{ username }}</a>) on {{ datetimerequested }}. <b>Your password has not yet been changed.</b> If you didn't request this password reset, you can delete this email.</p>
<p>To complete this password reset, please click the link below or copy/paste it into your browser. This link will expire on {{ datetimeexpires }}.</p>

<p><a href="{{ resetURL }}">{{ resetURL }}</a></p>

<p>Important: Writing Quests staff will not ask for your password or other sensitive information via email. If you believe someone may be trying to gain access to your account, please reach out at <a href="mailto:reports@writingquests.org">reports@writingquests.org</a> for assistance.</p>
{% endblock content %}